@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600&family=Nunito+Sans:wght@300&family=Nunito:wght@300;500;600;700&family=Roboto:wght@100;500;700&display=swap');

* {
    padding: 0;
    font-family: 'Roboto', 'Montserrat', sans-serif;
}


.container {
    width: 1000px;
    margin: auto auto;
    border: 2px solid black;
    padding: 10px 30px;
}

/* header section */
.heading1 {
    font-size: 30px;
    font-weight: 800;
}

.span-class {
    color: red;
}

.navbar {
    /* border: 2px solid; */
    width: 400px;
    display: flex;
    justify-content: space-between;
}

.nav-links {
    color: rgb(23, 113, 197);
}


/* hero section */

.hero {
    display: flex;
    margin-top: 20px;
}

article {
    width: 70%;
}

.heading2 {
    font-size: 22px;
    font-weight: 700;
}

.section1 {
    display: flex;
}


.normal-text {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    color: rgb(45, 45, 45);
}

.block {
    font-weight: 700;
}

aside {
    margin-left: 50px;
}

.months ul {
    padding: 0px 40px;
    display: flex;
    flex-direction: column;
    line-height: 25px;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;
}

@media screen and (max-width:390px){
    body,
    .container{
        width: 390px;
    }
    /* .heading,
    nav,
    .section1,
    .section2{
        margin: 0 10px 0 10px;
    } */
    .container{
        padding: 0;
        margin: 0;
        border: none;
    }
    header,
    nav,
    .hero,
    article, 
    footer{
        width: 390px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    aside{
        margin: auto;
    }
    .months ul{
        text-align: center;
        padding: 5px 0px;
    }
    /* .heading1,
    .normal-text{
        text-align: center;
    } */
    .normal-text,
    .section2{
        margin-right: 5px;
    }
    nav a{ 
        margin-bottom: 5px;       
    }
    
}