fieldset {
    padding: 20px 40px 20px 0px;
    width: 500px;
    margin: 50px auto;
    border: 2px solid black;
}

legend {
    color: rgb(0, 0, 0);
    font-weight: 600;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: 2px solid black;
}

li{
    display: flex;
    justify-content: space-between;
}

label {
    font-family: sans-serif;
}

input {
    padding: 5px;
    font-weight: 700;
    margin-bottom: 20px;
    border-radius: 5px;
    width: 60%;
}

input:focus {
    box-shadow: 0px 0px 10px rgb(12, 195, 73);
}

button{
    width: 100%;
    padding: 10px;
    margin: auto auto;
    border: none;
    color: whitesmoke;
    font-weight: 700;
    font-family:sans-serif;
    letter-spacing: 1.5px;
    border-radius: 5px;
    background: radial-gradient(circle, rgb(25, 21, 21), rgb(22, 176, 22));
    transition: all 1.5s ease-in-out;
}
button:hover{
    background: radial-gradient(circle, rgb(22, 176, 22), rgb(25, 21, 21));
}